html {
  font-family: sans-serif;
}

/* Header Styling */
.logo {
    background-color: #1c5191;
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
}

.logo img {
  display: inline-block;
  vertical-align: middle;
  padding-left: 110px;
}

/* Navigation Links styling */
.logo ul {
    list-style-type: none;
    margin: 0 auto;
    width: 890px;
    padding: 0px 0px 5px 0px;
    overflow: hidden;
    background-color: #1c5191;
    text-align: center;
  }
  
  .logo li {
    float: left;
  }
  
  .logo li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
  }
  
  .logo li a:hover {
    background-color: white;
    color: #1c5191;
  }

/* Footer Styling */
.footer {
    background-color: #1c5191;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-left: 180px;
    height: 10%;
}

.footer p {
    line-height: 7px;
    font-size: 12px;
}

  .column {
/* Inline Buttons */
.inline-buttons{
  list-style-type: none;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  text-align: center;
}

.button {
  background-color: white;
  border: none;
  color: #1c5191;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 2px;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 0px;
}

/* BreadCrumbs */
ul.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
  margin-top: 0px;
  margin-left: 90px;
}
ul.breadcrumbs li {
  display: inline;
  font-size: 12px;
}
ul.breadcrumbs li+li:before {
  padding: 8px;
  color: black;
  content: "\003e";
}
ul.breadcrumbs li a {
  color: black;
  text-decoration: none;
}
ul.breadcrumbs li a:hover {
  color: #01447e;
  text-decoration: none;
  font-weight: bold;
}

/* Image Slider */
.preview {
  width: 500px;
  height: 360px
}
   
  .thumb {
  width: 107px;
  margin-right: 3px;
}
   
  .selected {
  border: 1px solid #1c5191;
  padding: 2px;
}

/* Dropdown Size Form */
.inline {
  color: #1c5191;
  font-size: 12px;
  font-weight: bold;
}

.inline select {
  width: 50%;
  margin-left: 120px;
  color: #1c5191;
  padding: 5px;
}

/* Add to Basket Button */
.button2{
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 10px 24px;
  cursor: pointer;
  border-radius: 2px;
  font-weight: bold;
  margin-bottom: 0px;
  float: right;
}

@media (min-width: 768px) {
.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 45%;
}
}

.col-md-4 h2 {
  font-size:25px;
  color: #1c5191;
  font-weight: 400;
}

.col-md-4 li {
  color: #1c5191;
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
}

.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: 50px;
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}